.title {
    display: block;
    color: rgb(71, 65, 60);
}

.mySlides {
    margin-left: auto;
    margin-right: auto;
}

.information {

    display: grid;
    grid-template-columns:  1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    margin-top: 3px;
   
    
}

.sqft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:1;
    grid-row-end: 1;
    justify-self: stretch;
    align-self: center;
    text-align: center;
    border-right: 1px solid black;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.bed{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 1;
    justify-self: stretch;
    align-self: center;
    text-align: center;
    border-right: 1px solid black;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

}

.bath {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end: 1;
    justify-self: stretch;
    align-self: center;
    text-align: center;
    font-size: 15px;
    font-family: "Poppins", sans-serif;

}

.description {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:4;
    grid-row-end: 5;
    justify-self: stretch;
    text-align: center;
    font-family: "Open Sans", sans-serif;

 
}

h1, h2, h4{font-family: "Open Sans", sans-serif;}

h1{
    font-weight: 550; 
    font-size: 25px;
}

i{color: rgb(94, 94, 94);font-size: 15px;}
p h1 h4{color:black;}

@media only screen and (min-width: 1200px) {
    .title{ padding-left: 10%;}
}




